<div id="<%= comp.id %>"
     class="v-plugin v-input v-stripe_credit_card_form v-stripe_credit_card_form_<%= comp.form_type %>"
     data-plugin-callback='StripeCreditCardForm'
     data-stripe-publishable-key="<%= comp.stripe_publishable_key %>"
     data-form-type="<%= comp.form_type %>"
     data-currency="<%= comp.currency %>"
     <% if comp.address_config %>data-address-config=<%= comp.address_config.to_json %><% end %>
>
  <% if comp.form_type == 'single_line' %>
    <%= File.read(File.expand_path('_credit_card_form_single_line.html', __dir__)  ) %>
  <% else %>
    <%= File.read(File.expand_path('_credit_card_form_multi_line.html', __dir__)  ) %>
  <% end %>
</div>